<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="30010">
        <setting id="explicit_content" type="bool" label="30106" default="false"/>
        <setting id="file_size_sort" type="select" label="30109" lvalues="30110|30111" />
    </category>
    <category label="30014">
        <setting label="30117" type="lsep"/>
        <setting id="show_codec" type="bool" label="30115" default="false"/>
        <setting id="show_bitrate" type="bool" label="30116" default="false"/>
        <setting id="show_duration" type="bool" label="30129" default="false"/>
        <setting label="30118" type="lsep"/>
        <setting id="a_z_threshold" type="number" label="30119" default="10"/>
        <setting id="page_limit" type="number" label="30120" default="250"/>
    </category>
    <category label="30011">
        <setting id="provider.name" type="select" label="30103" lvalues="30104" />
        <setting label="30101" id="provider.username" type="text" default="" enable="false"  />
        <setting label="30102" id="provider.password" type="text" default="" option="hidden" enable="false"  />
        <setting label="30134" type="action" action="RunPlugin(plugin://plugin.video.stream-cinema-2/set-provider-credentials)"/>
        <setting label="30122" type="action" action="RunPlugin(plugin://plugin.video.stream-cinema-2/check-provider-credentials)"/>
        <setting label="30000" type="text" enable="false" default="" />
        <setting label="30131" id="provider.vip_duration" type="text" enable="false" />
        <setting label="30121" id="provider.token" type="text" default="" option="hidden" enable="false" />
        <setting label="30125" type="action" action="RunPlugin(plugin://plugin.video.stream-cinema-2/refresh-provider-token)"/>
        <setting id="last_vip_check" type="date" visible="false" enable="false"/>
    </category>
    <category label="30012">
        <setting id="version" label="30015" type="text" enable="false" />
        <setting id="last_version_available" label="30016" type="text" enable="false"/>
        <setting id="uuid" label="30107" type="text" enable="false" />
        <setting id="installation_date" type="date" label="30013" enable="false"/>
        <setting id="debug" type="bool" label="30105" default="true"/>
        <setting label="30108" type="action" action="RunPlugin(plugin://plugin.video.stream-cinema-2/clear-cache)"/>
        <setting id="last_version_check" type="date" visible="false" enable="false"/>
        <setting id="is_outdated" type="bool"  visible="false"  enable="false"/>
    </category>
</settings>