<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="30010">
        <setting id="explicit_content" type="bool" label="30106" default="false"/>
        <setting id="file_size_sort" type="select" label="30109" lvalues="30110|30111" />
    </category>
    <category label="30011">
        <setting id="provider.name" type="select" label="30103" lvalues="30104" />
        <setting label="30101" id="provider.username" type="text" default="" />
        <setting label="30102" id="provider.password" type="text" default="" option="hidden" />
        <setting id="provider.token" type="text" visible="false" />
    </category>
    <category label="30012">
        <setting id="uuid" label="30107" type="text" enable="false" />
        <setting id="installation_date" type="date" label="30013" enable="false"/>
        <setting id="debug" type="bool" label="30105" default="true"/>
        <setting id="last_version_check" type="date" visible="false" enable="false"/>
        <setting label="30108" type="action" action="RunPlugin(plugin://plugin.video.stream-cinema-2/clear-cache)"/>
    </category>
</settings>